/*
          /\
         (..)             Powered by thatsparrow
      .--.\/.--.          Last updated: June 2017
     (/`\_\/_/`\)         Acer Chromebook 11 CB3-111 running Gallium OS 2.1
     '  {____}  '         @Sparrow.io, Founder & Software Architect
        '-\/-'            @Dentsu Aegis Network, Public Relations Executive
       ,_//\\_,
*/

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:1000px) {
    .navbar {
        padding: 0px;
        background-color: #FFFFFF;
        border-color: #DCDCDC;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0px;
    }
}
.about-section {
    height: auto;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: left;
    background: #FFFFFF;
}
.developer-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #F0F8FF;
}
.publicist-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #FFFFFF;
}
.writer-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    background: #F0F8FF;
}
.footnote-section {
    height: auto;
    padding-top: 50px;
    text-align: center;
    background: #1E90FF;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}
p, div {
    font-family: 'Quicksand', sans-serif;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #ffff99;
}
