body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:1000px) {
    .navbar {
        background-color: #FFFFFF;
        border-color: #DCDCDC;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0px;
    }
}
a:hover,
.a:hover {
   text-decoration: none !important;
}
.about-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    background: #FFFFFF;
    background-image: url("http://www.jannbenjam.in/img/thatsparrow_background.svg");
}
.developer-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #FFFFFF;
}
.publicist-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    background: #FFFFFF;
}
.writer-section {

    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    background: #FFFFFF;
}
.footnote-section {
    height: auto;
    padding-top: 0px;
    text-align: center;
    background: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}
p, div {
    font-family: 'Quicksand', sans-serif;

}
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
  color: #000000;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}
.carousel-indicators li {
    display: inline-block;
    width: 96px;
    height: 96px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #000000;
    box-shadow: inset 10px 10px 10px 10px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 96px;
    height: 96px;
    margin: 10px;
    background-color: #FFFFFF;
}
