body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 0px 0;
        background-image: url("paper.gif");
        border-color: #DCDCDC;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 5px;
    }
}
.about-section {
    height: auto;
    padding-top: 100px;
    text-align: left;
    background: #FFFFFF;
}
.devops-section {
    height: auto;
    padding-top: 50px;
    text-align: left;
    background: #FFFFFF;
}
.writer-section {
    height: auto%;
    padding-top: 50px;
    text-align: left;
    background: #FFFFFF;
}
.creative-section {
    height: auto%;
    padding-top: 50px;
    text-align: left;
    background: #FFFFFF;
}
