@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

/*@media only screen  and (min-width : 1224px) {
	body {
		background-color: white;
		background-image: url("jann_bwinv.jpg");
		background-size: 15em;
		background-repeat: no-repeat;
		background-position: left top; 
		padding: 27em;
	}
}
*/

body {
	    background-image: url("jann_bwinv.jpg");
		background-size: 15em;
		background-repeat: no-repeat;
		background-position: right top; 
		padding: 0em;
		/* background-color: white; */
		color: #696969;
		font-family: 'Quicksand', sans-serif;
		font-size: 13px;
	}



.value {
	color: #000;
    font-family: 'Quicksand', sans-serif;
	font-size: 13px;
	padding: 2px;	
}

a {
	border: none;
	cursor: pointer;
	color: inherit !important;
	text-decoration: none;
	border-bottom: 1px solid #696969;
	font-size: 13px;
}

#content {
	position: absolute;
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
}

.item {
	line-height: 0px;
}
